body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#3A0CA3, #4CC9F0);
    color: #ffffff;
}

/* Color palette: #F72585, #7209B7, #3A0CA3, #4361EE, #4CC9F0 */

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #4CC9F0;
    margin-bottom: 10px;
}

#bday-age {
    background: #7209B7;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    color: #4CC9F0;
}

#bday-date {
    margin: 0;
    background: #7209B7;
    padding: 5px 10px;
    border-radius: 5px;
    color: #4CC9F0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-surprise:hover {
    background-image: url("images/surprised.gif");
    background-position: center;
}

#gift-img-brilliant:hover {
    background-image: url("images/brilliant.gif");
    background-position: center;
}

#gift-img-kind:hover {
    background-image: url("images/kind.gif");
    background-position: center;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/